name: Build & Deploy Web
on:
  push:
    branches: [ main ]

env:
  GODOT_VERSION: 4.5.1
  EXPORT_PRESET: Web
  PROJECT_PATH: game

permissions:
  contents: write

jobs:
  export-web:
    runs-on: ubuntu-latest
    container: barichello/godot-ci:4.5.1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup export templates
        run: |
          mkdir -p ~/.local/share/godot/export_templates
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable \
             ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable

      - name: Export Web build
        run: |
          mkdir -p build/web
          godot --headless --verbose --path "${PROJECT_PATH}" \
                --export-release "${EXPORT_PRESET}" build/web/index.html

      - name: Deploy to gh-pages branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build/web

